html, body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	justify-content: center;
	font-family: Montserrat, "HelveticaNeue", helvetica, arial, sans-serif;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 15px;
	background-color: hsl(228, 9%, 22%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 45%);
	border-radius: 50px;
}

::-webkit-scrollbar-button {
    display: block;
    background-color: hsl(0, 0%, 45%);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');   
}

::-webkit-scrollbar-button:vertical:start:increment {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');   
}

.remove {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.remove.active {
	z-index: 1200;
}

header {
	z-index: 120;
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
}

.logo {
	position: absolute;
	border-radius: 50px;
	cursor: pointer;
	bottom: 8%;
	margin-left: 48px;
}

.title-logo {
    display: none;
    position: absolute;
    cursor: pointer;
    bottom: 8%;
    margin-left: 48px;
    font-weight: 750;
}

li {
	list-style: none;
}

.navbar {
	min-height: 94px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 48px;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.hamburger {
	position: absolute;
	z-index: 300;
	display: none;
	cursor: pointer;
	right: 0;
	padding-right: 48px;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #000000;
}


@media(max-width:1000px){
	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2){
		opacity: 0;
		background-color: #FFFFFF;
	}

	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
		background-color: #FFFFFF;
	}

	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
		background-color: #FFFFFF;
	}
	.nav-menu {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		gap: 0;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;
		text-align: center;
		transition: 0.3s;
	}

	.nav-item {
		margin: 16px 0;
	}

	.nav-menu.active {
		z-index: 100;
		display: flex;
		justify-content: center;
		gap: 0;
		right: 0;
		transition: 0.3s;
		padding: 0;
		margin: 0;
	}

	.nav-menu.active .nav-item, .nav-menu.active .nav-item a:hover:before, .nav-menu.active .nav-item a:hover:after {
		color: #FFFFFF;
		border-color: #FFFFFF;
	}

	.nav-link {
		font-size: 32px!important;
	}

	.logo {
		display: none;
	}

	.title-logo {
		display: block;
	}
}

nav .nav-item {
	display: inline-block;
	font-size: 1em;
	color: rgba(0, 0, 0, 1);
}

nav .nav-item:nth-child(3) {
	display: inline-block;
	font-size: 1em;
	color: rgba(0, 0, 0, .5);
}

nav .nav-item a {
	position: relative;
	display: block;
	margin: 0 2px;
	padding: 0.625rem 1.25rem;
    padding-left: 0;
    padding-right: 0;
	text-transform: uppercase;
	overflow: hidden;
}

nav .nav-item a:before {
	box-sizing: border-box;
	transform: translateX(-100%);
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 99.5%;
	height: 3px;
	border-bottom: 3px solid transparent;
}

nav .nav-item a:hover:before {
	transition: .15s transform linear, .3s height linear .3s;
	transform: translateX(0);
	height: 100%;
	border-color: #000000;
}
nav .nav-item:nth-child(3) a:hover:before {
	border-color: #000000;
	opacity: .5;
}
nav .nav-item a:hover:after {
	transition: .1s transform linear .2s, .1s height linear .3s;
	transform: translateX(0);
	height: 100%;
	border-color: #000000;
}
nav .nav-item:nth-child(3) a:hover:after {
	border-color: #000000;
	opacity: .5;
}
nav .nav-item a:nth-child(1) {
    margin-right: 15px;
}
nav .nav-item a:nth-child(2) {
    margin-right: 15px;
}

.nav-link {
	color: inherit;
	text-decoration: none;
	outline: none;
	font-weight: 600;
	font-size: 1.4rem;
	letter-spacing: 1px;
}


.banner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-size: auto auto;
	background-position: center;
	background-image:
	url("../images/IMG_1183.JPG");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.banner .bannercontent {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	align-items: center;
	overflow: hidden;
}

.banner .banner-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.banner img {
	width: 250px;
	height: auto;
	animation: logoLeft 500ms ease forwards;
	transform: translateX(-100%);
}

.banner img {
	animation-delay: 200ms;
}
@keyframes logoLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

.banner h1, .banner h4, .banner h3 {
    color: white;
    z-index: 99;
    margin: 0;
}
.banner h1, .banner h4, .banner h3 {
	overflow: hidden;
	display: block;
}
.banner h1 span, .banner h4 span, .banner h3 span {
	display: block;
	animation: titleFadeIn 500ms ease forwards;
	transform: translateY(100%);
}
.banner h1 span {
	animation-delay: 200ms;
}
.banner h4 span {
	animation-delay: 300ms;
}
.banner h3 span {
	animation-delay: 400ms;
}
@keyframes titleFadeIn {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
.banner h1 {
    font-size: 100px;
}
.banner h4 {
    font-size: 20px;
}
.banner h3 {
    font-size: 35px;
}

@media(max-width:1000px){
	.bannercontent {
		flex-direction: column!important;
		padding-top: 85px!important;
	}
}

@media(max-width:768px){
	.banner {
		display: none;
	}

	.clients {
		padding-top: 100px!important;
	}

	.prod {
		padding-top: 100px!important;
	}
}

.clients {
	position: relative;
    text-align: center;
	padding-block: 50px;
}

.clients h3 {
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 0;
    margin-bottom: 25px;
}

.portfolio h3 {
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 0;
    margin-bottom: 25px;
}

.separator {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
	height: 1.6px;
	color: rgb(182, 182, 182);
    width: 100px;
	margin-bottom: 50px;
	border: 0;
}

.container {
    overflow: hidden;
}
.container .slider {
    animation: slidein 25s linear infinite;
    white-space: nowrap;
}
.container .slider .logos {
    width: 1440px;
    height: 180px;
    display: inline-block;
}
.container .slider .logos img {
    opacity: .5;
    border-radius: 500px;
	box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
    width: calc(100% / 10);
    margin: 30px;
}
.container .slider .logos img:hover {
    opacity: 1;
}
@keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


.portfolio {
	padding-block: 50px;
	position: relative;
    text-align: center;
	overflow-y: hidden;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-content: center;
    justify-content: center;
}

.portfolio-grid .img {
	width: 360px;
	height: 360px;
    display: flex;
	justify-content: center;
	overflow: hidden;
}

.portfolio-grid .img img {
	width: auto;
	height: 100%;
}

.portfolio-grid .img:hover {
    scale: 1.05;
	transition: all .3s ease;
}

.portfolio a {
	color: #ab655e;
	font-weight: 600;
}

.portfolio a:hover {
	font-size: 20;
	transition: all 0.3s ease-in-out;
}
.smartcontact {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: #000000;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	top: 65%;
	right: 0;
	margin-right: 32px;
	color: white;
	text-align: center;
	cursor: pointer;
	z-index: 1250;
}

.smartcontact:hover {
	scale: 1.1;
    transition: all 0.3s ease;
}

.contact-menu {
	opacity: 0;
    position: fixed;
    top: 65%;
	transform: translateY(-50%);
	right: 0px;
	width: 0px;
	background: #26272b;
    padding: 34px 24px;
	text-align: left;
	border-radius: 8px;
	color: #737373;
	z-index: 1300;
	border: 3px solid #737373;
    transform: translateY(-50%) scaleX(0) scaleY(0);
}

.contact-menu.active {
	right: 77px;
	opacity: 1;
	width: 340px;
    transform: translateY(-50%) scaleX(1) scaleY(1);
    transition: opacity 150ms ease 0s, right 250ms ease 0s, transform 250ms ease 0s;
}

.contact-menu h1, .contact-menu .tel, .contact-menu .mail, .contact-menu .contact-icons {
	margin-bottom: 16px;
}

.contact-menu .mail {
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 16px;
}

.contact-menu .mail a {
	text-decoration: none;
	color: #737373;
}

.contact-menu .mail:hover a {
	color: #FFFFFF;
}

.contact-menu .tel {
    text-transform: uppercase;
    background-color: #33353d;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 16px;
}

.contact-menu .tel a {
	text-decoration: none;
	color: #818a91;
}

.contact-menu .tel:hover a {
	color: #FFFFFF;
}

.contact-menu .contact-icons {
	display: flex;
}

.contact-menu .contact-icons a {
	text-align: center;
	border-radius: 50%;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    color: #818a91;
    background-color: #33353d;
}

.contact-menu .contact-icons i {
	margin-top: 50%;
	transform: translateY(-50%);
}

.contact-menu .contact-icons a:hover {
	scale: 1.1;
	color: #FFFFFF;
}


@media(max-width:1000px){
	.smartcontact {
		display: none;
	}

	.contact-menu.active {
		display: none;
	}
}

.go-top img {
	max-width: 50%;
	max-height: 50%;

}

.go-top {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	float: right;
	position: fixed;
	width: 32px;
	height: 32px;
	bottom: 0;
	right: 0;
	margin-right: 32px;
	margin-bottom: 32px;
	background-color: #FFFFFF;
	border-radius: 100%;
}

.go-top:hover {
	scale: 1.3;
    transition: all 0.3s ease;
}
  
@media (max-width: 1000px) {
	.go-top {
		scale: 1.2;
	}
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s ease;
}
  
footer {
	--border: 2px solid hsl(0, 0%, 45%);
	background-color: hsl(228, 6%, 16%);
}
  
footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem 1rem;
  
	padding: min(5vmin, 3rem);
	border-top: var(--border);
}
  
.cva p {
	margin-block: 15px;
}
  
.cva hr {
	float: left;
	width: 50%;
}
  
.cva h2, .menu h2 {
	color: #fff;
}
  
@media (min-width: 1000px) {
	footer {
	  grid-template-columns: 4fr 1fr 2fr;
	}
}
  
@media (max-width: 1000px) {
	footer .cva {
	  grid-column: span 2;
	}
  
	footer .cva h2, footer .cva p {
	  text-align: center;
	}
  
	footer .cva hr {
	  text-align: center;
	  float: none;
	}
}
  
footer> :not(.cva) {
	justify-self: center;
}
  
footer :is(h2, .title) {
	margin-bottom: 0.5em;
	text-transform: uppercase;
}
  
  
footer :where(p, a) {
	color: hsl(0, 0%, 45%);
}
  
footer a:hover {
	color: hsl(0, 0%, 100%);
}
  
footer .menu nav {
	display: flex;
	flex-flow: column;
	gap: 0.5em;
}

footer .menu nav a {
    font-weight: 600;
}
  
footer .socials {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 1em;
}
  
footer .socials nav {
	display: flex;
	gap: 0.5em;
}
  
footer .socials a {
	display: grid;
	place-items: center;
  
	width: 2.5em;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: hsl(228, 9%, 22%);
}
  
footer .socials a:hover {
	scale: 1.1;
}
  
footer .socials .copyright {
	text-transform: uppercase;
	text-align: center;
}

.social p {
    text-align: center;
}
